.container{
  .right-align{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .card-body{
    padding: 0
  }

  .text-overflow{
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    text-overflow: ellipsis;
  }


  .mask{
    position: fixed;
    background: black;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100000;
    opacity: .4;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
  }

  .btn-modal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 80px;
    max-height: 80px;
  }

  .form-group.form-inline.input-wrapper{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-wrap: nowrap;

    label{
      margin-right: 0.5rem;
    }

    input{
      width: 100%;
    }
  }

  .location{
    font-weight: bolder;
  }

  .red{
    color: red;
  }

  input{
    &.dirty{
      background-color: #dc354550 !important;
    }

    &.clean{
      background-color: #28a74550 !important;;
    }
  }

  .btn-cep-unknown{
    border: none;
    background: transparent;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
}
